[submodule "site/themes/hugo-theme-shell"]
	path = site/themes/hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell.git
[submodule "site/themes/smol"]
	path = site/themes/smol
	url = https://github.com/colorchestra/smol
