{{- $currentPage := . -}} {{- if isset .Site.Taxonomies "categories" }} {{- if
not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="postTags">
  {{ with .Site.GetPage "section" "categories" }}
  <a class="tags" href='{{ .Site.GetPage "/posts" }}'>All Categories</a>
  {{ end }} {{- range $name, $items := .Site.Taxonomies.categories }} {{-
  $tagURL := printf "categories/%s/" ($name | urlize | lower) | relLangURL }}
  <a
    class="tags{{ if (eq $currentPage.RelPermalink $tagURL) }} active{{ end }}"
    href="{{ $tagURL }}"
    >{{ $name | humanize }}</a
  >
  {{- end }}
</div>
{{- end }} {{- end }}
